@charset "ISO-8859-1";

submit{
	align="center"
}

.main-form{
	width:450px;
	margin:auto;
	margin-top:0px;
	margib-bottom:20px;
}

table{
	width:450px;
	margin:auto;
	margin-top:20px;
	margib-bottom:20px;
}

.form-group{
	margin:2px;
	
}

label{
	
	margin:auto;
}

input{
	margin:100px;
}

span{
	
	margin-top:2px;
}

#btn{
	display: flex;
  justify-content: center;
  align-items: center;
}